/* CSS Document */
body{
background-color: #dfe3ee;
}
#contenedor_principal
{
	width:100%;
	padding:10px;	
	
} 
.publicacion
{
	width: 90%;
	height: auto;
	background-color:#f7f7f7;
	border:1px solid #3b5998;
	text-align: left;
	padding: 10px;
	box-shadow:0px 10px 30px rgba(0,0,0,0.9);

}
.lbl_nombre{
	color: #3b5998;
	font-size: 18px;
}
.lbl_datos
{
	color: grey;
	font-size: 12px;
	text-align:left;
	width:auto;
	height:auto;
}