<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
    xmlns:gap = "http://phonegap.com/ns/1.0"
    id        = "com.fishers.quicklibrary"
    version   = "1.0.0">

<name>QuickLibrary</name>

<description>
Aplicación mobile para quicklibrary.
</description>

<author href="https://quicklibrary.com" email="contacto@quicklibrary.com">
Fishers
</author>
<icon src="icono_app.png" />
</widget>
